openapi: 3.2.0
info:
  title: m3ter Lookup Table Revision API
  description: 'If you are using Postman, you can:

    - Use the **Download** button above to download the m3ter Open API spec JSON file and then import this file as the **m3ter API Collection** into your Workspace.'
  version: '1.0'
  x-logo:
    url: https://console.m3ter.com/m3ter-logo-black.svg
servers:
- url: https://api.m3ter.com
security:
- OAuth2: []
tags:
- name: LookupTableRevision
  description: Endpoints for creating/updating/deleting Lookup Table Revisions.
paths:
  /organizations/{orgId}/lookuptables/{lookupTableId}/revisions/{id}/status:
    put:
      tags:
      - LookupTableRevision
      summary: Update LookupTableRevision Status
      description: Update the status of a Lookup Table Revision for the given UUID.
      operationId: UpdateLookupTableRevisionStatus
      parameters:
      - name: orgId
        in: path
        description: UUID of the Organization. The Organization represents your company as a direct customer of the m3ter service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the Lookup Table Revision to update the status for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: lookupTableId
        in: path
        description: UUID of the Lookup Table the Revision belongs to.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupTableRevisionStatusRequest'
        required: true
      responses:
        '200':
          description: Returns the updated LookupTableRevision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupTableRevisionResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/lookuptables/{lookupTableId}/revisions/{id}:
    get:
      tags:
      - LookupTableRevision
      summary: Retrieve LookupTableRevision
      description: Retrieve a Lookup Table Revision for the given UUID.
      operationId: GetLookupTableRevision
      parameters:
      - name: orgId
        in: path
        description: UUID of the Organization. The Organization represents your company as a direct customer of the m3ter service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the Lookup Table Revision to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: lookupTableId
        in: path
        description: The UUID of the Lookup Table the Revision belongs to.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Returns the LookupTableRevision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupTableRevisionResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    put:
      tags:
      - LookupTableRevision
      summary: Update LookupTableRevision
      description: 'Update a Lookup Table Revision for the given UUID.


        **NOTE:** If you''ve already added data to a Lookup Table Revision - see the following Lookup Table Revision Data section - then you won''t be able to change the Revision''s field schema and you''ll receive an error if you try do this. Create a new Revision instead, or delete the data items first.'
      operationId: UpdateLookupTableRevision
      parameters:
      - name: orgId
        in: path
        description: UUID of the Organization. The Organization represents your company as a direct customer of the m3ter service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the Lookup Table Revision to update.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: lookupTableId
        in: path
        description: The UUID of the Lookup Table the Revision belongs to.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupTableRevisionRequest'
        required: true
      responses:
        '200':
          description: Returns the updated LookupTableRevision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupTableRevisionResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    delete:
      tags:
      - LookupTableRevision
      summary: Delete LookupTableRevision
      description: Delete the Lookup Table Revision for the given UUID.
      operationId: DeleteLookupTableRevision
      parameters:
      - name: orgId
        in: path
        description: UUID of the Organization. The Organization represents your company as a direct customer of the m3ter service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the Lookup Table Revision to update.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: lookupTableId
        in: path
        description: The UUID of the Lookup Table the Revision belongs to.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Returns the deleted LookupTableRevision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupTableRevisionResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/lookuptables/{lookupTableId}/revisions:
    get:
      tags:
      - LookupTableRevision
      summary: List LookupTableRevision
      description: List LookupTableRevision entities
      operationId: ListLookupTableRevision
      parameters:
      - name: orgId
        in: path
        description: UUID of the Organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: lookupTableId
        in: path
        description: The lookup table Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: Number of LookupTable to retrieve per page
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 200
          minimum: 1
          type: integer
          format: int32
      - name: nextToken
        in: query
        description: Token to supply for multi page retrievals
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: ids
        in: query
        description: List of Lookup Table Revision IDs to retrieve
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: List of LookupTableRevision entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLookupTableRevisionResponseData'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    post:
      tags:
      - LookupTableRevision
      summary: Create LookupTableRevision
      description: 'Create a new Revision for a Lookup Table.


        Fields and Keys for Revision schema: Use the `fields` parameter to define a Revision schema containing up to 10 number or string fields. Use the `keys` parameter to specify which are the key fields:

        * At least one field must be a non-key field and at least one a key field.

        * Up to 5 key fields can be defined.

        * Using multiple key fields: ensure that the order in which they are defined matches the order in which you want to use them in any Lookup functions that reference the Revision''s Lookup Table, because this is the order in which they will be passed into the function. The order of non-key fields is not constrained in this way.


        Revision status: when you first create a Lookup Table Revision it has DRAFT status. Use the Update LookupTableRevision Status call to change a Revision''s status.'
      operationId: CreateLookupTableRevision
      parameters:
      - name: orgId
        in: path
        description: UUID of the Organization. The Organization represents your company as a direct customer of the m3ter service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: lookupTableId
        in: path
        description: UUID of the Lookup Table the Revision will be created for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupTableRevisionRequest'
        required: true
      responses:
        '200':
          description: Returns the created Lookup Table Revision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupTableRevisionResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
components:
  schemas:
    LookupTableRevisionStatus:
      type: string
      description: Status of a Lookup Table Revision
      enum:
      - DRAFT
      - PUBLISHED
      - ARCHIVED
    AbstractResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: 'The UUID of the entity. '
        version:
          type: integer
          description: 'The version number:

            - **Create:** On initial Create to insert a new entity, the version is set at 1 in the response.

            - **Update:** On successful Update, the version is incremented by 1 in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    PaginatedLookupTableRevisionResponseData:
      type: object
      properties:
        data:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/LookupTableRevisionResponse'
        nextToken:
          type: string
          description: ''
      description: ''
    AbstractRequest:
      type: object
      properties:
        version:
          type: integer
          description: 'The version number of the entity:

            - **Create entity:** Not valid for initial insertion of new entity - *do not use for Create*. On initial Create, version is set at 1 and listed in the response.

            - **Update Entity:**  On Update, version is required and must match the existing version because a check is performed to ensure sequential versioning is preserved. Version is incremented by 1 and listed in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    LookupTableRevisionResponse:
      type: object
      properties:
        name:
          type: string
          description: The name of the Lookup Table Revision.
        status:
          description: ''
          allOf:
          - $ref: '#/components/schemas/LookupTableRevisionStatus'
          - description: The status of the Lookup Table Revision
        startDate:
          type: string
          description: The start date of the Lookup Table Revision
          format: date-time
        fields:
          type: array
          description: The list of fields of the Lookup Table Revision.
          items:
            $ref: '#/components/schemas/LookupTableRevisionField'
        keys:
          type: array
          description: The ordered keys of the Lookup Table Revision
          items:
            type: string
        dtCreated:
          type: string
          description: The DateTime when the Lookup Table Revision was created.
          format: date-time
          x-stainless-skip:
          - terraform
        dtLastModified:
          type: string
          description: The DateTime when the Lookup Table Revision was last modified.
          format: date-time
          x-stainless-skip:
          - terraform
        createdBy:
          type: string
          description: The id of the user who created the Lookup Table Revision.
          x-stainless-skip:
          - terraform
        lastModifiedBy:
          type: string
          description: The id of the user who last modified the Lookup Table Revision.
          x-stainless-skip:
          - terraform
        itemCount:
          type: integer
          description: ''
          format: int64
      description: Response containing a LookupTableRevision entity
      allOf:
      - $ref: '#/components/schemas/AbstractResponseWithCustomFields'
      - $ref: '#/components/schemas/AbstractResponse'
    LookupTableRevisionField:
      required:
      - type
      type: object
      properties:
        name:
          maxLength: 256
          pattern: ^[\p{L}_$][\p{L}_$0-9]*$
          type: string
          description: The name of the field
          example: lookuptablerevisionfieldkey
        type:
          description: ''
          allOf:
          - $ref: '#/components/schemas/LookupTableRevisionFieldType'
          - description: The type of the field
      description: Field of a Lookup Table Revision
    LookupTableRevisionStatusRequest:
      type: object
      properties:
        status:
          description: ''
          allOf:
          - $ref: '#/components/schemas/LookupTableRevisionStatus'
          - description: The status of the Lookup Table Revision
        version:
          type: integer
          description: The version of the LookupTableRevision.
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: Request containing the status details for a LookupTableRevision entity
    LookupTableRevisionRequest:
      required:
      - fields
      - keys
      - name
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Descriptive name for the Lookup Table Revision.
        startDate:
          type: string
          description: The start date of the Lookup Table Revision.
          format: date-time
        fields:
          maxItems: 10
          minItems: 2
          type: array
          description: The list of fields of the Lookup Table Revision.
          items:
            $ref: '#/components/schemas/LookupTableRevisionField'
        keys:
          maxItems: 5
          minItems: 1
          type: array
          description: The ordered keys of the Lookup Table Revision.
          example: '["foo", "bar"]'
          items:
            type: string
      description: Request containing a LookupTableRevision entity
      allOf:
      - $ref: '#/components/schemas/AbstractRequestWithCustomFields'
      - $ref: '#/components/schemas/AbstractRequest'
    AbstractResponseWithCustomFields:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractResponse'
      - properties:
          customFields:
            type: object
            description: 'User defined fields enabling you to attach custom data. The value for a custom field can be either a string or a number.


              If `customFields` can also be defined for this entity at the Organizational level,`customField` values defined at individual level override values of `customFields` with the same name defined at Organization level.


              See [Working with Custom Fields](https://www.m3ter.com/docs/guides/creating-and-managing-products/working-with-custom-fields) in the m3ter documentation for more information.'
            additionalProperties:
              anyOf:
              - title: StringCustomFieldRes
                type: string
              - title: IntegerCustomFieldRes
                type: integer
              - title: NumberCustomFieldRes
                type: number
    AbstractRequestWithCustomFields:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractRequest'
      - properties:
          customFields:
            type: object
            description: 'User defined fields enabling you to attach custom data. The value for a custom field can be either a string or a number.


              If `customFields` can also be defined for this entity at the Organizational level, `customField` values defined at individual level override values of `customFields` with the same name defined at Organization level.


              See [Working with Custom Fields](https://www.m3ter.com/docs/guides/creating-and-managing-products/working-with-custom-fields) in the m3ter documentation for more information.'
            maxItems: 100
            additionalProperties:
              anyOf:
              - title: StringCustomFieldReq
                type: string
              - title: IntegerCustomFieldReq
                type: integer
              - title: NumberCustomFieldReq
                type: number
    LookupTableRevisionFieldType:
      type: string
      description: Type of a Lookup Table Revision Field
      enum:
      - STRING
      - NUMBER
  responses:
    Error:
      description: Error message
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "m3ter supports machine to machine authentication using the `clientCredentials` OAuth2 flow.\n\nThe `authorizationCode` flow controls access for human users via the m3ter Console application. \n"
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
        authorizationCode:
          authorizationUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/authorize
          tokenUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            openid: OpenID
            email: email
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
