openapi: 3.2.0
info:
  title: m3ter Balance Charge Schedule API
  description: 'If you are using Postman, you can:

    - Use the **Download** button above to download the m3ter Open API spec JSON file and then import this file as the **m3ter API Collection** into your Workspace.'
  version: '1.0'
  x-logo:
    url: https://console.m3ter.com/m3ter-logo-black.svg
servers:
- url: https://api.m3ter.com
security:
- OAuth2: []
tags:
- name: BalanceChargeSchedule
  description: 'Endpoints for creating/updating/deleting BalanceChargeSchedules.


    **NOTE!** The BalanceChargeSchedule feature is available in Beta release version. See Feature Release Stages for Beta release definition.'
paths:
  /organizations/{orgId}/balances/{balanceId}/balancechargeschedules/{id}:
    get:
      tags:
      - BalanceChargeSchedule
      summary: Retrieve BalanceChargeSchedule
      description: Retrieve a BalanceChargeSchedule for the given UUID.
      operationId: GetBalanceChargeSchedule
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: balanceId
        in: path
        description: UUID of the balance
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The UUID of the BalanceChargeSchedule to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Return the BalanceChargeSchedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceChargeScheduleResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    put:
      tags:
      - BalanceChargeSchedule
      summary: Update BalanceChargeSchedule
      description: Update a BalanceChargeSchedule for the given UUID.
      operationId: UpdateBalanceChargeSchedule
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: balanceId
        in: path
        description: UUID of the balance
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The UUID of the BalanceChargeSchedule to update.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceChargeScheduleRequest'
        required: true
      responses:
        '200':
          description: Return the updated BalanceChargeSchedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceChargeScheduleResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    delete:
      tags:
      - BalanceChargeSchedule
      summary: Delete BalanceChargeSchedule
      description: Delete the BalanceChargeSchedule for the given UUID.
      operationId: DeleteBalanceChargeSchedule
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: balanceId
        in: path
        description: UUID of the balance
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The UUID of the BalanceChargeSchedule to update.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Return the deleted BalanceChargeSchedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceChargeScheduleResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/balances/{balanceId}/balancechargeschedules/preview:
    post:
      tags:
      - BalanceChargeSchedule
      summary: Preview ScheduledBalanceCharges
      description: Previews the Charges this Schedule would create, without persisting them. You can use this call to obtain a preview of the Charges a Schedule you plan to create for a Balance would generate.
      operationId: PreviewScheduledCharge
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: balanceId
        in: path
        description: UUID of the balance
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: Number of Charges to retrieve per page
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 200
          minimum: 1
          type: integer
          format: int32
      - name: nextToken
        in: query
        description: nextToken for multi page retrievals
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceChargeScheduleRequest'
        required: true
      responses:
        '200':
          description: Return the list of BalanceCharges this request would create
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceChargeScheduleResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/balances/{balanceId}/balancechargeschedules:
    get:
      tags:
      - BalanceChargeSchedule
      summary: List BalanceChargeSchedule
      description: Retrieve a list of BalanceChargeSchedule entities
      operationId: ListBalanceChargeSchedule
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: balanceId
        in: path
        description: UUID of the balance
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: Number of BalanceChargeSchedules to retrieve per page
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 200
          minimum: 1
          type: integer
          format: int32
      - name: nextToken
        in: query
        description: nextToken for multi page retrievals
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: ids
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ListBalanceChargeSchedule 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBalanceChargeScheduleResponseData'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    post:
      tags:
      - BalanceChargeSchedule
      summary: Create BalanceChargeSchedule
      description: Create a new BalanceChargeSchedule.
      operationId: CreateBalanceChargeSchedule
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: balanceId
        in: path
        description: UUID of the balance
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceChargeScheduleRequest'
        required: true
      responses:
        '200':
          description: Return the created BalanceChargeSchedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceChargeScheduleResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
components:
  schemas:
    PaginatedBalanceChargeScheduleResponseData:
      type: object
      properties:
        data:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/BalanceChargeScheduleResponse'
        nextToken:
          type: string
          description: ''
      description: ''
    BalanceChargeScheduleResponse:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractResponseWithCustomFields'
      - $ref: '#/components/schemas/AbstractResponse'
      - required:
        - chargeDescription
        properties:
          balanceId:
            type: string
            description: The unique identifier (UUID) for the Balance this Balance Charge Schedule was created for.
          name:
            type: string
            description: The name of the Balance Charge Schedule.
          code:
            type: string
            description: Unique short code for the Balance Charge Schedule.
          amount:
            type: number
            description: The amount of each Charge created by the Balance Charge Schedule.
          units:
            type: number
            description: Number of units. If the Charge was created with `amount` only, then will be null.
          unitPrice:
            type: number
            description: Unit price. If the Charge was created with `amount` only, then will be null.
          currency:
            type: string
            description: The currency of the Charges created by the Balance Charge Schedule.
          servicePeriodStartDate:
            type: string
            description: The service period start date (*in ISO-8601 format*) of the Balance Charge Schedule.
            format: date-time
          servicePeriodEndDate:
            type: string
            description: The service period end date (*in ISO-8601 format*) of the Balance Charge Schedule.
            format: date-time
          billEpoch:
            type: string
            description: Specifies a billing cycle date (*in ISO-8601 format*) for when the first Bill is generated for Balance Charges created by the Schedule, and also acts as a reference for when in the Schedule period subsequent Bills are created for the defined `billFrequency`. If blank, then the relevant Epoch date from your Organization's configuration is used.
            format: date
          billFrequency:
            description: Specifies when Bills for Charges created by the Schedule are generated for the Account - at either daily, weekly, monthly, or yearly intervals.
            allOf:
            - $ref: '#/components/schemas/ScheduleFrequency'
            - description: The period length of the Scheduled Balance Charge
          billFrequencyInterval:
            type: integer
            description: How often Bills are issued. For example, if billFrequency is `MONTHLY` and `billFrequencyInterval` is 3, Bills are issued every three months.
            format: int32
          billInAdvance:
            type: boolean
            description: 'Specifies how Charges created by the Balance Charge Schedule are billed - either in arrears or in advance:

              * If `false` then billing is in arrears.

              * If `true` then billing is in advance.'
          chargeDescription:
            minLength: 1
            type: string
            description: 'The description for Charges created by the Balance Charge Schedule. Used on Bills for Charge line items. '
          dtCreated:
            type: string
            description: The date and time (*in ISO-8601 format*) when the Balance Charge Schedule was created.
            format: date-time
            x-stainless-skip:
            - terraform
          dtLastModified:
            type: string
            description: The date and time (*in ISO-8601 format*) when the Balance Charge Schedule was last modified.
            format: date-time
            x-stainless-skip:
            - terraform
          createdBy:
            type: string
            description: The unique identifier (UUID) of the user who created the Balance Charge Schedule.
            x-stainless-skip:
            - terraform
          lastModifiedBy:
            type: string
            description: The unique identifier (UUID) for the user who last modified the Balance Charge Schedule.
            x-stainless-skip:
            - terraform
          nextRun:
            type: string
            description: The date and time (*in ISO-8601 format*) when the next Charge will be created by the Balance Charge Schedule.
            format: date-time
          previousRun:
            type: string
            description: The date and time (*in ISO-8601 format*) when the previous Charge was generated by the Balance Charge Schedule.
            format: date-time
    AbstractRequest:
      type: object
      properties:
        version:
          type: integer
          description: 'The version number of the entity:

            - **Create entity:** Not valid for initial insertion of new entity - *do not use for Create*. On initial Create, version is set at 1 and listed in the response.

            - **Update Entity:**  On Update, version is required and must match the existing version because a check is performed to ensure sequential versioning is preserved. Version is incremented by 1 and listed in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    ScheduleFrequency:
      type: string
      description: Represents standard scheduling frequencies options for a job.
      enum:
      - DAILY
      - WEEKLY
      - MONTHLY
      - ANNUALLY
    AbstractRequestWithCustomFields:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractRequest'
      - properties:
          customFields:
            type: object
            description: 'User defined fields enabling you to attach custom data. The value for a custom field can be either a string or a number.


              If `customFields` can also be defined for this entity at the Organizational level, `customField` values defined at individual level override values of `customFields` with the same name defined at Organization level.


              See [Working with Custom Fields](https://www.m3ter.com/docs/guides/creating-and-managing-products/working-with-custom-fields) in the m3ter documentation for more information.'
            maxItems: 100
            additionalProperties:
              anyOf:
              - title: StringCustomFieldReq
                type: string
              - title: IntegerCustomFieldReq
                type: integer
              - title: NumberCustomFieldReq
                type: number
    BalanceChargeScheduleRequest:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractRequestWithCustomFields'
      - $ref: '#/components/schemas/AbstractRequest'
      - required:
        - billFrequency
        - billFrequencyInterval
        - billInAdvance
        - chargeDescription
        - code
        - currency
        - name
        - servicePeriodEndDate
        - servicePeriodStartDate
        properties:
          name:
            maxLength: 200
            minLength: 1
            type: string
            description: The name of the Balance Charge Schedule.
          code:
            maxLength: 80
            minLength: 1
            pattern: ^([^[\p{Cntrl}\s]])|([^[\p{Cntrl}\s]][[^[\p{Cntrl}\s]] ]*[^[\p{Cntrl}\s]])$
            type: string
            description: Unique short code for the Balance Charge Schedule.
          amount:
            minimum: 0
            type: number
            description: The amount of each Charge created by the Balance Charge Schedule. Must be omitted if `units` and `unitPrice` are provided.
          units:
            type: number
            description: Number of units defined for the Charges created by the Schedule. Required when `unitPrice` is provided. Must be omitted when `amount` is used.
          unitPrice:
            type: number
            description: Unit price for Charge. Must be provided when `units` is used. Must be omitted when `amount` is used.
          currency:
            type: string
            description: The currency of the Charges created by the Balance Charge Schedule.
          servicePeriodStartDate:
            type: string
            description: The service period start date (*in ISO-8601 format)* of the Balance Charge Schedule.
            format: date-time
          servicePeriodEndDate:
            type: string
            description: The service period end date (*in ISO-8601 format*) of the Balance Charge Schedule.
            format: date-time
          billEpoch:
            type: string
            description: Specify a billing cycle date (*in ISO-8601 format*) for when the first Bill is created for Balance Charges created by the Schedule, and also acts as a reference for when in the Schedule period subsequent Bills are created for the defined `billFrequency`. If left blank, then the relevant Epoch date from your Organization's configuration will be used as the billing cycle date instead.
            format: date
          billFrequency:
            description: Specify the daily, weekly, monthly, or yearly intervals for when Bills for Charges created by the Schedule against the Balance are generated for the Account.
            allOf:
            - $ref: '#/components/schemas/ScheduleFrequency'
            - description: Together with billFrequencyInterval, defines how often Bills are generated.
          billFrequencyInterval:
            maximum: 365
            minimum: 1
            type: integer
            description: How often Bills are issued. For example, if billFrequency is `MONTHLY` and `billFrequencyInterval` is 3, Bills are issued every three months.
            format: int32
          billInAdvance:
            type: boolean
            description: 'Used to specify how Charges created by the Balance Charge Schedule are billed - either in arrears or in advance:

              * Use `false` for billing in arrears.

              * Use `true` for billing in advance.'
          chargeDescription:
            minLength: 1
            type: string
            description: The description for Charges created by the Balance Charge Schedule. Used on Bills for Charge line items.
    AbstractResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: 'The UUID of the entity. '
        version:
          type: integer
          description: 'The version number:

            - **Create:** On initial Create to insert a new entity, the version is set at 1 in the response.

            - **Update:** On successful Update, the version is incremented by 1 in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    AbstractResponseWithCustomFields:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractResponse'
      - properties:
          customFields:
            type: object
            description: 'User defined fields enabling you to attach custom data. The value for a custom field can be either a string or a number.


              If `customFields` can also be defined for this entity at the Organizational level,`customField` values defined at individual level override values of `customFields` with the same name defined at Organization level.


              See [Working with Custom Fields](https://www.m3ter.com/docs/guides/creating-and-managing-products/working-with-custom-fields) in the m3ter documentation for more information.'
            additionalProperties:
              anyOf:
              - title: StringCustomFieldRes
                type: string
              - title: IntegerCustomFieldRes
                type: integer
              - title: NumberCustomFieldRes
                type: number
  responses:
    Error:
      description: Error message
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "m3ter supports machine to machine authentication using the `clientCredentials` OAuth2 flow.\n\nThe `authorizationCode` flow controls access for human users via the m3ter Console application. \n"
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
        authorizationCode:
          authorizationUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/authorize
          tokenUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            openid: OpenID
            email: email
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
