openapi: 3.2.0
info:
  title: m3ter Bill Job API
  description: 'If you are using Postman, you can:

    - Use the **Download** button above to download the m3ter Open API spec JSON file and then import this file as the **m3ter API Collection** into your Workspace.'
  version: '1.0'
  x-logo:
    url: https://console.m3ter.com/m3ter-logo-black.svg
servers:
- url: https://api.m3ter.com
security:
- OAuth2: []
tags:
- name: BillJob
  description: Endpoints for creating, retrieving, listing, and cancelling Bill Jobs.
paths:
  /organizations/{orgId}/billjobs/{id}:
    get:
      tags:
      - BillJob
      summary: Retrieve BillJob
      description: Retrieve a Bill Job for the given UUID.
      operationId: GetBillJob
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the Bill Job to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Returns the Bill Job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillJobResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/billjobs:
    get:
      tags:
      - BillJob
      summary: List BillJobs
      description: 'Retrieve a list of BillJobs.


        This endpoint retrieves a list of BillJobs for a specified organization. The list can be paginated for easier management, and allows you to query and filter based on various parameters, such as BillJob `status` and whether or not BillJob remains `active`.'
      operationId: ListBillJobs
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) for your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: pageSize
        in: query
        description: Specifies the maximum number of BillJobs to retrieve per page.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: nextToken
        in: query
        description: The `nextToken` for multi-page retrievals. It is used to fetch the next page of BillJobs in a paginated list.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: active
        in: query
        description: 'Boolean filter to retrieve only active BillJobs and exclude completed or cancelled BillJobs from the results.


          * TRUE - only active BillJobs.

          * FALSE - all BillJobs including completed and cancelled BillJobs.'
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: "Filter BillJobs by specific status. Allows for targeted retrieval of BillJobs based on their current processing status.\n\nPossible states are:\n\n* PENDING \n* INITIALIZING \n* RUNNING \n* COMPLETE \n* CANCELLED"
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Returns list of BillJobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBillJobResponseData'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    post:
      tags:
      - BillJob
      summary: Create BillJob
      description: 'Create a new BillJob to handle asynchronous bill calculations for a specific Organization.


        This operation allows you to initiate the processing of bills according to specified parameters. For example, create a BillJob to run only those bills where `billingFrequency` is `MONTHLY`. Note that if you want to run a BillJob for all billing frequencies, simply omit the `billingFrequency` request parameter.


        Once created, the BillJob''s progress can be monitored:

        - In the Running Tasks panel in the m3ter Console - for more details, see Running Bills Manually

        - Queried using the List BillJobs operation.


        **NOTES:**

        - **Consolidated bills**. If you''ve already run billing with the Consolidate bills option disabled for your Organization but you then enable it, subsequent Bills for specific bill dates will now start afresh and not update earlier non-consolidated Bills for the same bill date. To avoid any billing conflicts, you might want to archive these earlier versions or delete them entirely.

        - **Maximum concurrent BillJobs**. If you already have 10 BillJobs currently running, and try to create another one, you''ll get an HTTP 429 response (Too many requests). When one of the existing BillJobs has completed, you''ll be able to submit another job'
      operationId: CreateBillJob
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) for your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillJobRequest'
        required: true
      responses:
        '200':
          description: Returns the details of the created BillJob
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillJobResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/billjobs/{id}/cancel:
    post:
      tags:
      - BillJob
      summary: Cancel BillJob
      description: 'Cancel an ongoing BillJob for the given Organization and BillJob UUID.


        This endpoint allows you to halt the processing of a specific BillJob, which might be necessary if there are changes in billing requirements or other operational considerations.'
      operationId: CancelBillJob
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) for your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The unique identifier (UUID) of the BillJob to cancel.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Returns the cancelled BillJob
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillJobResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/billjobs/recalculate:
    post:
      tags:
      - BillJob
      summary: Create Recalculation BillJob
      description: 'Create a new BillJob specifically to recalculate existing bills for a given Organization.


        This operation is essential when adjustments or corrections are required in previously calculated bills. The recalculated bills when the BillJob is complete can be checked in the m3ter Console Bill Management page or queried by using the List Bills operation.


        **NOTE:**

        - **Response Schema**. The response schema for this call is dynamic. This means that the response might not contain all of the parameters listed. If set to null,the parameter is hidden to help simplify the output as well as to reduce its size and improve performance.'
      operationId: RecalculateBillJob
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) for your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillJobRecalculateRequest'
        required: true
      responses:
        '200':
          description: Returns the recalculated BillJob
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillJobResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
components:
  schemas:
    BillJobRequest:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractRequest'
      - properties:
          lastDateInBillingPeriod:
            type: string
            description: 'Specifies the date *(in ISO 8601 format)* of the last day in the billing period, defining the time range for the associated Bills.


              For example: `"2023-03-24"`.'
            format: date
          billingFrequency:
            description: 'How often Bills are generated.


              * **Daily**. Starting at midnight each day, covering a twenty-four hour period following.


              * **Weekly**. Starting at midnight on a Monday morning covering the seven-day period following.


              * **Monthly**. Starting at midnight on the morning of the first day of each month covering the entire calendar month following.


              * **Annually**. Starting at midnight on the morning of the first day of each year covering the entire calendar year following.


              * **Ad_Hoc**. Use this setting when a custom billing schedule is used for billing an Account, such as for billing of Prepayment/Commitment fees using a custom billing schedule.

              '
            $ref: '#/components/schemas/BillJobBillingFrequency'
          billFrequencyInterval:
            type: integer
            description: 'How often Bills are issued - used in conjunction with `billingFrequency`.


              For example, if `billingFrequency` is set to Monthly and `billFrequencyInterval` is set to 3, Bills are issued every three months.'
            format: int32
          billDate:
            type: string
            description: 'The specific billing date *(in ISO 8601 format)*, determining when the Bill was generated.


              For example: `"2023-01-24"`.'
            format: date
          externalInvoiceDate:
            type: string
            description: 'For accounting purposes, the date set at Organization level to use for external invoicing with respect to billing periods - two options:

              * `FIRST_DAY_OF_NEXT_PERIOD` *(Default)*. Used when you want to recognize usage revenue in the following period.

              * `LAST_DAY_OF_ARREARS`. Used when you want to recognize usage revenue in the same period that it''s consumed, instead of in the following period.


              For example, if the retrieved Bill was on a monthly billing frequency and the billing period for the Bill is September 2023 and the *External invoice date* is set at `FIRST_DAY_OF_NEXT_PERIOD`, then the `externalInvoiceDate` will be `"2023-10-01"`.


              **NOTE:** To change the `externalInvoiceDate` setting for your Organization, you can use the [Update OrganizationConfig](https://www.m3ter.com/docs/api#tag/OrganizationConfig/operation/GetOrganizationConfig) call.'
            format: date
          dueDate:
            type: string
            description: 'The due date *(in ISO 8601 format)* for payment of the Bill.


              For example: `"2023-02-24"`.'
            format: date
          accountIds:
            maxItems: 100
            minItems: 1
            type: array
            description: An array of UUIDs representing the end customer Accounts associated with the BillJob.
            items:
              type: string
          targetCurrency:
            maxLength: 3
            minLength: 3
            type: string
            description: The currency code used for the Bill, such as USD, GBP, or EUR.
          currencyConversions:
            maxItems: 250
            type: array
            description: An array of currency conversion rates from Bill currency to Organization currency. For example, if Account is billed in GBP and Organization is set to USD, Bill line items are calculated in GBP and then converted to USD using the defined rate.
            items:
              $ref: '#/components/schemas/CurrencyConversion'
          timezone:
            type: string
            description: Specifies the time zone used for the generated Bills, ensuring alignment with the local time zone.
            example: UTC
            default: UTC
          yearEpoch:
            type: string
            description: The starting date *(epoch)* for Yearly billing frequency *(in ISO 8601 format)*, determining the first Bill date for yearly Bills.
            format: date
          monthEpoch:
            type: string
            description: The starting date *(epoch)* for Monthly billing frequency *(in ISO 8601 format)*, determining the first Bill date for monthly Bills.
            format: date
          weekEpoch:
            type: string
            description: The starting date *(epoch)* for Weekly billing frequency *(in ISO 8601 format)*, determining the first Bill date for weekly Bills.
            format: date
          dayEpoch:
            type: string
            description: The starting date *(epoch)* for Daily billing frequency *(in ISO 8601 format)*, determining the first Bill date for daily Bills.
            format: date
    BillJobStatus:
      type: string
      description: The current status of the BillJob, indicating its progress or completion state.
      enum:
      - PENDING
      - INITIALIZING
      - RUNNING
      - COMPLETE
      - CANCELLED
    BillJobRecalculateRequest:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractRequest'
      - required:
        - billIds
        properties:
          billIds:
            maxItems: 100
            minItems: 1
            type: array
            description: 'The array of unique identifiers (UUIDs) for the Bills which are to be recalculated. '
            items:
              type: string
    AbstractRequest:
      type: object
      properties:
        version:
          type: integer
          description: 'The version number of the entity:

            - **Create entity:** Not valid for initial insertion of new entity - *do not use for Create*. On initial Create, version is set at 1 and listed in the response.

            - **Update Entity:**  On Update, version is required and must match the existing version because a check is performed to ensure sequential versioning is preserved. Version is incremented by 1 and listed in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    CurrencyConversion:
      required:
      - from
      - to
      type: object
      properties:
        from:
          minLength: 1
          type: string
          description: 'Currency to convert from. For example: GBP.'
          example: EUR
        to:
          minLength: 1
          type: string
          description: 'Currency to convert to. For example: USD.'
          example: USD
        multiplier:
          type: number
          description: Conversion rate between currencies.
          format: double
          example: 1.12
          exclusiveMinimum: 0
      description: An array of currency conversion rates from Bill currency to Organization currency. For example, if Account is billed in GBP and Organization is set to USD, Bill line items are calculated in GBP and then converted to USD using the defined rate.
    BillJobResponse:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractResponse'
      - properties:
          lastDateInBillingPeriod:
            type: string
            description: 'Specifies the date *(in ISO 8601 format)* of the last day in the billing period, defining the time range for the associated Bills.


              For example: `"2023-03-24"`.'
            format: date
          billingFrequency:
            description: 'Defines how often Bills are generated.


              * **Daily**. Starting at midnight each day, covering a twenty-four hour period following.


              * **Weekly**. Starting at midnight on a Monday morning covering the seven-day period following.


              * **Monthly**. Starting at midnight on the morning of the first day of each month covering the entire calendar month following.


              * **Annually**. Starting at midnight on the morning of the first day of each year covering the entire calendar year following.


              * **Ad_Hoc**. Use this setting when a custom billing schedule is used for billing an Account, such as for billing of Prepayment/Commitment fees using a custom billing schedule.

              '
            $ref: '#/components/schemas/BillJobBillingFrequency'
          billFrequencyInterval:
            type: integer
            description: 'How often Bills are issued - used in conjunction with `billingFrequency`.


              For example, if `billingFrequency` is set to Monthly and `billFrequencyInterval` is set to 3, Bills are issued every three months.'
            format: int32
          billDate:
            type: string
            description: 'The specific billing date *(in ISO 8601 format)*, determining when the Bill was generated.


              For example: `"2023-01-24"`.'
            format: date
          externalInvoiceDate:
            type: string
            description: 'For accounting purposes, the date set at Organization level to use for external invoicing with respect to billing periods - two options:

              * `FIRST_DAY_OF_NEXT_PERIOD` *(Default)*. Used when you want to recognize usage revenue in the following period.

              * `LAST_DAY_OF_ARREARS`. Used when you want to recognize usage revenue in the same period that it''s consumed, instead of in the following period.


              For example, if the retrieved Bill was on a monthly billing frequency and the billing period for the Bill is September 2023 and the *External invoice date* is set at `FIRST_DAY_OF_NEXT_PERIOD`, then the `externalInvoiceDate` will be `"2023-10-01"`. '
            format: date
          dueDate:
            type: string
            description: 'The due date *(in ISO 8601 format)* for payment of the Bill.


              For example: `"2023-02-24"`.'
            format: date
          accountIds:
            type: array
            description: An array of UUIDs representing the end customer Accounts associated with the BillJob.
            items:
              type: string
          billIds:
            type: array
            description: An array of Bill IDs related to the BillJob, providing references to the specific Bills generated.
            items:
              type: string
          targetCurrency:
            type: string
            description: The currency code used for the Bill, such as USD, GBP, or EUR.
          currencyConversions:
            type: array
            description: An array of currency conversion rates from Bill currency to Organization currency. For example, if Account is billed in GBP and Organization is set to USD, Bill line items are calculated in GBP and then converted to USD using the defined rate.
            items:
              $ref: '#/components/schemas/CurrencyConversion'
          timezone:
            type: string
            description: Specifies the time zone used for the generated Bills, ensuring alignment with the local time zone.
            example: UTC
            default: UTC
          yearEpoch:
            type: string
            description: The starting date *(epoch)* for Yearly billing frequency *(in ISO 8601 format)*, determining the first Bill date for yearly Bills.
            format: date
          monthEpoch:
            type: string
            description: The starting date *(epoch)* for Monthly billing frequency *(in ISO 8601 format)*, determining the first Bill date for monthly Bills.
            format: date
          weekEpoch:
            type: string
            description: The starting date *(epoch)* for Weekly billing frequency *(in ISO 8601 format)*, determining the first Bill date for weekly Bills.
            format: date
          dayEpoch:
            type: string
            description: The starting date *(epoch)* for Daily billing frequency *(in ISO 8601 format)*, determining the first Bill date for daily Bills.
            format: date
          status:
            description: The current status of the BillJob, indicating its progress or completion state.
            $ref: '#/components/schemas/BillJobStatus'
          total:
            type: integer
            description: The total number of Bills or calculations related to the BillJob.
            format: int64
          pending:
            type: integer
            description: The number of pending actions or calculations within the BillJob.
            format: int64
          type:
            description: "Specifies the type of BillJob. \n\n* **CREATE** Returned for a *Create BillJob* call.\n* **RECALCULATE** Returned for a successful *Create Recalculation BillJob* call."
            $ref: '#/components/schemas/BillJobType'
          dtCreated:
            type: string
            description: The date and time *(in ISO 8601 format)* when the BillJob was first created.
            format: date-time
            x-stainless-skip:
            - terraform
          dtLastModified:
            type: string
            description: The date and time *(in ISO 8601 format)* when the BillJob was last modified.
            format: date-time
            x-stainless-skip:
            - terraform
          createdBy:
            type: string
            description: The unique identifier (UUID) for the user who created the BillJob.
            x-stainless-skip:
            - terraform
          lastModifiedBy:
            type: string
            description: The unique identifier (UUID) for the user who last modified this BillJob.
            x-stainless-skip:
            - terraform
    BillJobType:
      type: string
      description: "Specifies the type of BillJob. \n\n* **Create** when creating a new Bill.\n* **Recalculate** when recalculating an existing Bill."
      enum:
      - CREATE
      - RECALCULATE
    BillJobBillingFrequency:
      type: string
      description: 'Defines how often Bills are generated.

        - **Daily**. Starting at midnight each day, covering a twenty-four hour period following.

        - **Weekly**. Starting at midnight on a Monday morning covering the seven-day period following.

        - **Monthly**. Starting at midnight on the morning of the first day of each month covering the entire calendar month following.

        - **Annually**. Starting at midnight on the morning of the first day of each year covering the entire calendar year following.

        - **Ad_Hoc**. Use this setting when a custom billing schedule is used for billing an Account, such as for billing of Prepayment/Commitment fees using a custom billing schedule.

        '
      enum:
      - DAILY
      - WEEKLY
      - MONTHLY
      - ANNUALLY
      - AD_HOC
    AbstractResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: 'The UUID of the entity. '
        version:
          type: integer
          description: 'The version number:

            - **Create:** On initial Create to insert a new entity, the version is set at 1 in the response.

            - **Update:** On successful Update, the version is incremented by 1 in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    PaginatedBillJobResponseData:
      type: object
      properties:
        data:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/BillJobResponse'
        nextToken:
          type: string
          description: ''
      description: ''
  responses:
    Error:
      description: Error message
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "m3ter supports machine to machine authentication using the `clientCredentials` OAuth2 flow.\n\nThe `authorizationCode` flow controls access for human users via the m3ter Console application. \n"
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
        authorizationCode:
          authorizationUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/authorize
          tokenUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            openid: OpenID
            email: email
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
