openapi: 3.2.0
info:
  title: m3ter Bill Grouping Key API
  description: 'If you are using Postman, you can:

    - Use the **Download** button above to download the m3ter Open API spec JSON file and then import this file as the **m3ter API Collection** into your Workspace.'
  version: '1.0'
  x-logo:
    url: https://console.m3ter.com/m3ter-logo-black.svg
servers:
- url: https://api.m3ter.com
security:
- OAuth2: []
tags:
- name: BillGroupingKey
  description: 'Endpoints for Bill Grouping Key operations such as creation, update, list, and delete.


    Bill Grouping Keys are stored for your Organization, and you can use them to control billing operations. For example, use Bill Grouping Keys to control how Bills for Contracts linked to an Account are generated:

    * Have charges linked to an Account Contract billed exclusively on a separate Bill.

    * Have charges linked to multiple Account Contracts billed collectively on a single Bill.'
paths:
  /organizations/{orgId}/picklists/billgroupingkeys:
    get:
      tags:
      - BillGroupingKey
      summary: List Bill Grouping Keys
      description: Retrieve a list of Bill Grouping Keys created for your Organization.
      operationId: ListBillGroupingKeys
      parameters:
      - name: orgId
        in: path
        description: UUID of the Organization. The Organization represents your company as a direct customer of the m3ter service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: pageSize
        in: query
        description: Number of Bill Grouping Keys to retrieve per page.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: nextToken
        in: query
        description: '`nextToken` for multi page retrievals'
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: ids
        in: query
        description: List of Bill Grouping Key IDs to retrieve.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: codes
        in: query
        description: List of Bill Grouping Key codes to retrieve.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: archived
        in: query
        description: Filter by archived flag
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: Returns a list of BillGroupingKeys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBillGroupingKeyResponseData'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    post:
      tags:
      - BillGroupingKey
      summary: Create BillGroupingKey
      description: Create a new BillGroupingKey.
      operationId: CreateBillGroupingKey
      parameters:
      - name: orgId
        in: path
        description: UUID of the Organization.The Organization represents your company as a direct customer of the m3ter service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillGroupingKeyRequest'
        required: true
      responses:
        '200':
          description: Return the created BillGroupingKey
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillGroupingKeyResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/picklists/billgroupingkeys/{id}:
    get:
      tags:
      - BillGroupingKey
      summary: Retrieve BillGroupingKey
      description: Retrieve a Bill Grouping Key for the given UUID.
      operationId: GetBillGroupingKey
      parameters:
      - name: orgId
        in: path
        description: UUID of the Organization. The Organization represents your company as a direct customer of the m3ter service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the Bill Grouping Key to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Returns the BillGroupingKey.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillGroupingKeyResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    put:
      tags:
      - BillGroupingKey
      summary: Update BillGroupingKey
      description: Update a Bill Grouping Key for the given UUID.
      operationId: UpdateBillGroupingKey
      parameters:
      - name: orgId
        in: path
        description: UUID of the Organization. The Organization represents your company as a direct customer of the m3ter service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the Bill Grouping Key to update.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillGroupingKeyRequest'
        required: true
      responses:
        '200':
          description: Returns the updated BillGroupingKey
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillGroupingKeyResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    delete:
      tags:
      - BillGroupingKey
      summary: Delete BillGroupingKey
      description: Delete a Bill Grouping Key for the given UUID.
      operationId: DeleteBillGroupingKey
      parameters:
      - name: orgId
        in: path
        description: UUID of the Organization. The Organization represents your company as a direct customer of the m3ter service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the Bill Grouping Key to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Returns the deleted BillGroupingKey
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillGroupingKeyResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
components:
  schemas:
    AbstractRequest:
      type: object
      properties:
        version:
          type: integer
          description: 'The version number of the entity:

            - **Create entity:** Not valid for initial insertion of new entity - *do not use for Create*. On initial Create, version is set at 1 and listed in the response.

            - **Update Entity:**  On Update, version is required and must match the existing version because a check is performed to ensure sequential versioning is preserved. Version is incremented by 1 and listed in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    BillGroupingKeyRequest:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractPickListRequest'
      - $ref: '#/components/schemas/AbstractRequest'
      - required:
        - exclusive
        properties:
          exclusive:
            type: boolean
            description: Whether or not the Bill Grouping Key will be used exclusively by one entity.
    AbstractPickListRequest:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractRequest'
      - required:
        - name
        properties:
          code:
            maxLength: 80
            pattern: ^[\p{L}_$][\p{L}_$0-9]*$
            type: string
            description: The short code for the entity.
            example: code
          name:
            maxLength: 200
            minLength: 1
            type: string
            description: The name of the entity.
          archived:
            type: boolean
            description: 'A Boolean TRUE / FALSE flag indicating whether the entity is archived. An entity can be archived if it is obsolete.


              * TRUE - the entity is in the archived state.

              * FALSE - the entity is not in the archived state.'
    AbstractPickListResponse:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractResponse'
      - properties:
          code:
            type: string
            description: The short code of the data entity.
          name:
            type: string
            description: The name of the data entity.
          archived:
            type: boolean
            description: TRUE / FALSE flag indicating whether the data entity is archived. An entity can be archived if it is obsolete.
    AbstractResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: 'The UUID of the entity. '
        version:
          type: integer
          description: 'The version number:

            - **Create:** On initial Create to insert a new entity, the version is set at 1 in the response.

            - **Update:** On successful Update, the version is incremented by 1 in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    BillGroupingKeyResponse:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractPickListResponse'
      - $ref: '#/components/schemas/AbstractResponse'
      - properties:
          exclusive:
            type: boolean
            description: Whether or not the Bill Grouping Key will be used exclusively by one entity.
          dtCreated:
            type: string
            description: The DateTime when the Bill Grouping Key was created.(*in ISO 8601 format*)
            format: date-time
            x-stainless-skip:
            - terraform
          dtLastModified:
            type: string
            description: The DateTime when the Bill Grouping Key was last modified.(*in ISO 8601 format*)
            format: date-time
            x-stainless-skip:
            - terraform
          createdBy:
            type: string
            description: The id of the user who created this Bill Grouping Key.
            x-stainless-skip:
            - terraform
          lastModifiedBy:
            type: string
            description: The id of the user who last modified this Bill Grouping Key.
            x-stainless-skip:
            - terraform
    PaginatedBillGroupingKeyResponseData:
      type: object
      properties:
        data:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/BillGroupingKeyResponse'
        nextToken:
          type: string
          description: ''
      description: ''
  responses:
    Error:
      description: Error message
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "m3ter supports machine to machine authentication using the `clientCredentials` OAuth2 flow.\n\nThe `authorizationCode` flow controls access for human users via the m3ter Console application. \n"
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
        authorizationCode:
          authorizationUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/authorize
          tokenUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            openid: OpenID
            email: email
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
