openapi: 3.2.0
info:
  title: m3ter Plan Template API
  description: 'If you are using Postman, you can:

    - Use the **Download** button above to download the m3ter Open API spec JSON file and then import this file as the **m3ter API Collection** into your Workspace.'
  version: '1.0'
  x-logo:
    url: https://console.m3ter.com/m3ter-logo-black.svg
servers:
- url: https://api.m3ter.com
security:
- OAuth2: []
tags:
- name: PlanTemplate
  description: 'Endpoints for listing, creating, updating, retrieving, or deleting PlanTemplates.


    Use PlanTemplates to define default values for Plans. These default values control the billing operations you want applied to your products. PlanTemplates avoid repetition in configuration work - many Plans will share settings for billing operations and differ only in the details of their pricing structures.


    A PlanTemplate is linked to a Product, and each Plan is a child of a PlanTemplate.'
paths:
  /organizations/{orgId}/plantemplates:
    get:
      tags:
      - PlanTemplate
      summary: List PlanTemplates
      description: 'Retrieve a list of PlanTemplates.


        This endpoint enables you to retrieve a paginated list of PlanTemplates belonging to a specific Organization, identified by its UUID. You can filter the list by PlanTemplate IDs or Product IDs for more focused retrieval.'
      operationId: ListPlanTemplates
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) of your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: pageSize
        in: query
        description: Specifies the maximum number of PlanTemplates to retrieve per page.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: nextToken
        in: query
        description: The `nextToken` for multi-page retrievals. It is used to fetch the next page of PlanTemplates in a paginated list.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: productId
        in: query
        description: The unique identifiers (UUIDs) of the Products to retrieve associated PlanTemplates.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 36
          minimum: 36
          type: string
      - name: ids
        in: query
        description: 'List of specific PlanTemplate UUIDs to retrieve. '
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Returns the list of requested PlanTemplates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPlanTemplateResponseData'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    post:
      tags:
      - PlanTemplate
      summary: Create PlanTemplate
      description: 'Create a new PlanTemplate.


        This endpoint creates a new PlanTemplate within a specific Organization, identified by its unique UUID. The request body should contain the necessary information for the new PlanTemplate.'
      operationId: PostPlanTemplate
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanTemplateRequest'
        required: true
      responses:
        '200':
          description: Returns the created PlanTemplate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanTemplateResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/plantemplates/{id}:
    get:
      tags:
      - PlanTemplate
      summary: Retrieve PlanTemplate
      description: 'Retrieve a specific PlanTemplate.


        This endpoint allows you to retrieve a specific PlanTemplate within a specific Organization, both identified by their unique identifiers (UUIDs).'
      operationId: GetPlanTemplate
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) of your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The unique identifier (UUID) of the PlanTemplate to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          maximum: 36
          minimum: 36
          type: string
      responses:
        '200':
          description: Returns the PlanTemplate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanTemplateResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    put:
      tags:
      - PlanTemplate
      summary: Update PlanTemplate
      description: 'Update a specific PlanTemplate.


        This endpoint enables you to update a specific PlanTemplate within a specific Organization, both identified by their unique identifiers (UUIDs). The request body should contain the updated information for the PlanTemplate.


        **Note:** If you have created Custom Fields for a Plan Template, when you use this endpoint to update the Plan Template use the `customFields` parameter to preserve those Custom Fields. If you omit them from the update request, they will be lost.'
      operationId: PutPlanTemplate
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) of your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The unique identifier (UUID) of the PlanTemplate to update.
        required: true
        style: simple
        explode: false
        schema:
          maximum: 36
          minimum: 36
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanTemplateRequest'
        required: true
      responses:
        '200':
          description: Returns the updated PlanTemplate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanTemplateResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    delete:
      tags:
      - PlanTemplate
      summary: Delete PlanTemplate
      description: 'Delete a specific PlanTemplate.


        This endpoint enables you to delete a specific PlanTemplate within a specific Organization, both identified by their unique identifiers (UUIDs).'
      operationId: DeletePlanTemplate
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) of your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The unique identifier (UUID) of the PlanTemplate to update.
        required: true
        style: simple
        explode: false
        schema:
          maximum: 36
          minimum: 36
          type: string
      responses:
        '200':
          description: Returns the deleted PlanTemplate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanTemplateResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
components:
  schemas:
    AbstractRequest:
      type: object
      properties:
        version:
          type: integer
          description: 'The version number of the entity:

            - **Create entity:** Not valid for initial insertion of new entity - *do not use for Create*. On initial Create, version is set at 1 and listed in the response.

            - **Update Entity:**  On Update, version is required and must match the existing version because a check is performed to ensure sequential versioning is preserved. Version is incremented by 1 and listed in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    PlanTemplateRequest:
      type: object
      description: ''
      example:
        version: null
        customFields: []
        productId: string
        name: string
        currency: USD
        standingCharge: 0
        standingChargeDescription: string
        standingChargeInterval: 1
        standingChargeOffset: 364
        billFrequencyInterval: 1
        billFrequency: DAILY
        ordinal: 0
        code: string
        minimumSpend: 0
        minimumSpendDescription: string
        standingChargeBillInAdvance: true
        minimumSpendBillInAdvance: true
      allOf:
      - $ref: '#/components/schemas/AbstractRequestWithCustomFields'
      - $ref: '#/components/schemas/AbstractRequest'
      - required:
        - billFrequency
        - currency
        - name
        - productId
        - standingCharge
        properties:
          productId:
            maxLength: 36
            minLength: 36
            type: string
            description: The unique identifier (UUID) of the Product associated with this PlanTemplate.
          name:
            maxLength: 200
            minLength: 1
            type: string
            description: Descriptive name for the PlanTemplate.
          currency:
            maxLength: 3
            minLength: 3
            type: string
            description: 'The ISO currency code for the currency used to charge end users - for example USD, GBP, EUR. This defines the *pricing currency* and is inherited by any Plans based on the Plan Template.


              **Notes:**

              * You can define a currency at Organization-level or Account-level to be used as the *billing currency*. This can be a different currency to that used for the Plan as the *pricing currency*.

              * If the billing currency for an Account is different to the pricing currency used by a Plan attached to the Account, you must ensure a *currency conversion rate* is defined for your Organization to convert the pricing currency into the billing currency at billing, otherwise Bills will fail for the Account.

              * To define any required currency conversion rates, use the `currencyConversions` request body parameter for the [Update OrganizationConfig](https://www.m3ter.com/docs/api#tag/OrganizationConfig/operation/UpdateOrganizationConfig) call.'
          standingCharge:
            minimum: 0
            type: number
            description: The fixed charge *(standing charge)* applied to customer bills. This charge is prorated and must be a non-negative number.
            format: double
          standingChargeDescription:
            maxLength: 200
            type: string
            description: Standing charge description *(displayed on the bill line item)*.
          standingChargeInterval:
            maximum: 365
            minimum: 1
            type: integer
            description: "How often the standing charge is applied. \nFor example, if the bill is issued every three months and `standingChargeInterval` is 2, then the standing charge is applied every six months."
            format: int32
          standingChargeOffset:
            maximum: 364
            minimum: 0
            type: integer
            description: "Defines an offset for when the standing charge is first applied. \nFor example, if the bill is issued every three months and the `standingChargeOfset` is 0, then the charge is applied to the first bill *(at three months)*; if 1, it would be applied to the second bill *(at six months)*, and so on."
            format: int32
          billFrequencyInterval:
            maximum: 365
            minimum: 1
            type: integer
            description: "How often bills are issued. \nFor example, if `billFrequency` is Monthly and `billFrequencyInterval` is 3, bills are issued every three months."
            format: int32
          billFrequency:
            description: 'Determines the frequency at which bills are generated.


              * **Daily**. Starting at midnight each day, covering the twenty-four hour period following.


              * **Weekly**. Starting at midnight on a Monday, covering the seven-day period following.


              * **Monthly**. Starting at midnight on the first day of each month, covering the entire calendar month following.


              * **Annually**. Starting at midnight on first day of each year covering the entire calendar year following.'
            $ref: '#/components/schemas/BillingFrequency'
          ordinal:
            minimum: 0
            type: integer
            description: 'The ranking of the PlanTemplate among your pricing plans. Lower numbers represent more basic plans, while higher numbers represent premium plans. This must be a non-negative integer.


              **NOTE: DEPRECATED** - do not use.'
            format: int64
          code:
            maxLength: 80
            pattern: ^([^[\p{Cntrl}\s]])|([^[\p{Cntrl}\s]][[^[\p{Cntrl}\s]] ]*[^[\p{Cntrl}\s]])$
            type: string
            description: A unique, short code reference for the PlanTemplate. This code should not contain control characters or spaces.
          minimumSpend:
            minimum: 0
            type: number
            description: The Product minimum spend amount per billing cycle for end customer Accounts on a pricing Plan based on the PlanTemplate. This must be a non-negative number.
            format: double
          minimumSpendDescription:
            maxLength: 200
            type: string
            description: Minimum spend description *(displayed on the bill line item)*.
          standingChargeBillInAdvance:
            type: boolean
            description: 'A boolean that determines when the standing charge is billed.


              * TRUE - standing charge is billed at the start of each billing period.

              * FALSE - standing charge is billed at the end of each billing period.


              Overrides the setting at Organizational level for standing charge billing in arrears/in advance.'
          minimumSpendBillInAdvance:
            type: boolean
            description: 'A boolean that determines when the minimum spend is billed.


              * TRUE - minimum spend is billed at the start of each billing period.

              * FALSE - minimum spend is billed at the end of each billing period.


              Overrides the setting at Organizational level for minimum spend billing in arrears/in advance.'
    AbstractRequestWithCustomFields:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractRequest'
      - properties:
          customFields:
            type: object
            description: 'User defined fields enabling you to attach custom data. The value for a custom field can be either a string or a number.


              If `customFields` can also be defined for this entity at the Organizational level, `customField` values defined at individual level override values of `customFields` with the same name defined at Organization level.


              See [Working with Custom Fields](https://www.m3ter.com/docs/guides/creating-and-managing-products/working-with-custom-fields) in the m3ter documentation for more information.'
            maxItems: 100
            additionalProperties:
              anyOf:
              - title: StringCustomFieldReq
                type: string
              - title: IntegerCustomFieldReq
                type: integer
              - title: NumberCustomFieldReq
                type: number
    PaginatedPlanTemplateResponseData:
      type: object
      properties:
        data:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PlanTemplateResponse'
        nextToken:
          type: string
          description: ''
      description: ''
    PlanTemplateResponse:
      type: object
      description: ''
      example:
        id: string
        version: 1
        customFields:
          example1: 123
          example2: string
        productId: string
        name: string
        currency: USD
        standingCharge: 0
        standingChargeDescription: string
        standingChargeInterval: 1
        standingChargeOffset: 364
        billFrequencyInterval: 1
        billFrequency: DAILY
        ordinal: 0
        code: string
        minimumSpend: 0
        minimumSpendDescription: string
        standingChargeBillInAdvance: true
        minimumSpendBillInAdvance: false
      allOf:
      - $ref: '#/components/schemas/AbstractResponseWithCustomFields'
      - $ref: '#/components/schemas/AbstractResponse'
      - properties:
          productId:
            type: string
            description: The unique identifier (UUID) of the Product associated with this PlanTemplate.
          name:
            type: string
            description: Descriptive name for the PlanTemplate.
          currency:
            type: string
            description: The ISO currency code for the pricing currency used by Plans based on the Plan Template to define charge rates for Product consumption - for example USD, GBP, EUR.
          standingCharge:
            type: number
            description: The fixed charge *(standing charge)* applied to customer bills. This charge is prorated and must be a non-negative number.
            format: double
          standingChargeDescription:
            type: string
            description: Standing charge description *(displayed on the bill line item)*.
          standingChargeInterval:
            type: integer
            description: "How often the standing charge is applied. \nFor example, if the bill is issued every three months and `standingChargeInterval` is 2, then the standing charge is applied every six months."
            format: int32
          standingChargeOffset:
            type: integer
            description: "Defines an offset for when the standing charge is first applied. \nFor example, if the bill is issued every three months and the `standingChargeOfset` is 0, then the charge is applied to the first bill *(at three months)*; if 1, it would be applied to the second bill *(at six months)*, and so on."
            format: int32
          billFrequencyInterval:
            type: integer
            description: "How often bills are issued. \nFor example, if `billFrequency` is Monthly and `billFrequencyInterval` is 3, bills are issued every three months."
            format: int32
          billFrequency:
            description: 'Determines the frequency at which bills are generated.


              * **Daily**. Starting at midnight each day, covering the twenty-four hour period following.


              * **Weekly**. Starting at midnight on a Monday, covering the seven-day period following.


              * **Monthly**. Starting at midnight on the first day of each month, covering the entire calendar month following.


              * **Annually**. Starting at midnight on first day of each year covering the entire calendar year following.'
            $ref: '#/components/schemas/BillingFrequency'
          ordinal:
            type: integer
            description: 'The ranking of the PlanTemplate among your pricing plans. Lower numbers represent more basic plans, while higher numbers represent premium plans. This must be a non-negative integer.


              **NOTE:** **DEPRECATED** - no longer used.'
            format: int64
          code:
            type: string
            description: A unique, short code reference for the PlanTemplate. This code should not contain control characters or spaces.
          minimumSpend:
            type: number
            description: The Product minimum spend amount per billing cycle for end customer Accounts on a pricing Plan based on the PlanTemplate. This must be a non-negative number.
            format: double
          minimumSpendDescription:
            type: string
            description: Minimum spend description *(displayed on the bill line item)*.
          standingChargeBillInAdvance:
            type: boolean
            description: 'A boolean that determines when the standing charge is billed.


              * TRUE - standing charge is billed at the start of each billing period.

              * FALSE - standing charge is billed at the end of each billing period.


              Overrides the setting at Organizational level for standing charge billing in arrears/in advance.'
          minimumSpendBillInAdvance:
            type: boolean
            description: 'A boolean that determines when the minimum spend is billed.


              * TRUE - minimum spend is billed at the start of each billing period.

              * FALSE - minimum spend is billed at the end of each billing period.


              Overrides the setting at Organizational level for minimum spend billing in arrears/in advance.'
          dtCreated:
            type: string
            description: The date and time *(in ISO-8601 format)* when the PlanTemplate was created.
            format: date-time
            x-stainless-skip:
            - terraform
          dtLastModified:
            type: string
            description: The date and time *(in ISO-8601 format)* when the PlanTemplate was last modified.
            format: date-time
            x-stainless-skip:
            - terraform
          createdBy:
            type: string
            description: The unique identifier (UUID) of the user who created this PlanTemplate.
            x-stainless-skip:
            - terraform
          lastModifiedBy:
            type: string
            description: The unique identifier (UUID) of the user who last modified this PlanTemplate.
            x-stainless-skip:
            - terraform
    AbstractResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: 'The UUID of the entity. '
        version:
          type: integer
          description: 'The version number:

            - **Create:** On initial Create to insert a new entity, the version is set at 1 in the response.

            - **Update:** On successful Update, the version is incremented by 1 in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    BillingFrequency:
      type: string
      description: 'Defines how often Bills are generated.


        * **Daily**. Starting at midnight each day, covering a twenty-four hour period following.


        * **Weekly**. Starting at midnight on a Monday morning covering the seven-day period following.


        * **Monthly**. Starting at midnight on the morning of the first day of each month covering the entire calendar month following.


        * **Annually**. Starting at midnight on the morning of the first day of each year covering the entire calendar year following.


        * **Ad_Hoc**. Use this setting when a custom billing schedule is used for billing an Account, such as for billing of Prepayment/Commitment fees using a custom billing schedule.

        '
      enum:
      - DAILY
      - WEEKLY
      - MONTHLY
      - ANNUALLY
      - AD_HOC
      - MIXED
    AbstractResponseWithCustomFields:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractResponse'
      - properties:
          customFields:
            type: object
            description: 'User defined fields enabling you to attach custom data. The value for a custom field can be either a string or a number.


              If `customFields` can also be defined for this entity at the Organizational level,`customField` values defined at individual level override values of `customFields` with the same name defined at Organization level.


              See [Working with Custom Fields](https://www.m3ter.com/docs/guides/creating-and-managing-products/working-with-custom-fields) in the m3ter documentation for more information.'
            additionalProperties:
              anyOf:
              - title: StringCustomFieldRes
                type: string
              - title: IntegerCustomFieldRes
                type: integer
              - title: NumberCustomFieldRes
                type: number
  responses:
    Error:
      description: Error message
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "m3ter supports machine to machine authentication using the `clientCredentials` OAuth2 flow.\n\nThe `authorizationCode` flow controls access for human users via the m3ter Console application. \n"
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
        authorizationCode:
          authorizationUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/authorize
          tokenUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            openid: OpenID
            email: email
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
