openapi: 3.2.0
info:
  title: m3ter Currency API
  description: 'If you are using Postman, you can:

    - Use the **Download** button above to download the m3ter Open API spec JSON file and then import this file as the **m3ter API Collection** into your Workspace.'
  version: '1.0'
  x-logo:
    url: https://console.m3ter.com/m3ter-logo-black.svg
servers:
- url: https://api.m3ter.com
security:
- OAuth2: []
tags:
- name: Currency
  description: Endpoints for Currency operations such as creation, update, list, and delete.
paths:
  /organizations/{orgId}/picklists/currency/{id}:
    get:
      tags:
      - Currency
      summary: Retrieve Currency
      description: Retrieve the specified Currency with the given UUID. Used to obtain the details of a specified existing Currency in your Organization.
      operationId: GetCurrency
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) of your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The unique identifier (UUID) of the Currency to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Returns the Currency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    put:
      tags:
      - Currency
      summary: Update Currency
      description: 'Update a Currency with the given UUID.


        Used to update the attributes of the specified Currency for the specified Organization.'
      operationId: UpdateCurrency
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) of your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The unique identifier (UUID) of the Currency to update.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyRequest'
        required: true
      responses:
        '200':
          description: Returns the updated Currency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    delete:
      tags:
      - Currency
      summary: Delete Currency
      description: 'Delete the Currency with the given UUID.


        Used to remove an existing Currency from your Organization that is no longer required.'
      operationId: DeleteCurrency
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) for your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The unique identifier (UUID) of the Currency to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Returns the deleted Currency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/picklists/currency:
    get:
      tags:
      - Currency
      summary: List Currencies
      description: 'Retrieve a list of Currencies.


        Retrieves a list of Currencies for the specified Organization. This endpoint supports pagination and includes various query parameters to filter the Currencies based on Currency ID, and short codes.'
      operationId: ListCurrencies
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) for your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: pageSize
        in: query
        description: Specifies the maximum number of Currencies to retrieve per page.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: nextToken
        in: query
        description: The `nextToken` for multi-page retrievals. It is used to fetch the next page of Currencies in a paginated list.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: ids
        in: query
        description: An optional parameter to filter the list based on specific Currency unique identifiers (UUIDs).
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: codes
        in: query
        description: An optional parameter to retrieve specific Currencies based on their short codes.
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: archived
        in: query
        description: 'Filter by archived flag. A True / False flag indicating whether to return Currencies that are archived *(obsolete)*.


          * TRUE - return archived Currencies.

          * FALSE - archived Currencies are not returned.'
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: Returns the list of Currencies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCurrencyResponseData'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    post:
      tags:
      - Currency
      summary: Create Currency
      description: 'Creates a new Currency for the specified Organization.


        Used to create a Currency that your Organization will start to use.'
      operationId: CreateCurrency
      parameters:
      - name: orgId
        in: path
        description: The unique identifier (UUID) for your Organization. The Organization represents your company as a direct customer of our service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyRequest'
        required: true
      responses:
        '200':
          description: Returns the created Currency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
components:
  schemas:
    CurrencyRequest:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractPickListRequest'
      - $ref: '#/components/schemas/AbstractRequest'
      - properties:
          maxDecimalPlaces:
            maximum: 5
            minimum: 0
            type: integer
            description: Indicates the maximum number of decimal places to use for this Currency.
            format: int32
            example: 2
          roundingMode:
            description: ''
            $ref: '#/components/schemas/RoundingMode'
    AbstractRequest:
      type: object
      properties:
        version:
          type: integer
          description: 'The version number of the entity:

            - **Create entity:** Not valid for initial insertion of new entity - *do not use for Create*. On initial Create, version is set at 1 and listed in the response.

            - **Update Entity:**  On Update, version is required and must match the existing version because a check is performed to ensure sequential versioning is preserved. Version is incremented by 1 and listed in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    CurrencyResponse:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractPickListResponse'
      - $ref: '#/components/schemas/AbstractResponse'
      - properties:
          maxDecimalPlaces:
            type: integer
            description: 'This indicates the maximum number of decimal places to use for this Currency. '
            format: int32
          roundingMode:
            description: ''
            $ref: '#/components/schemas/RoundingMode'
          dtCreated:
            type: string
            description: The date and time *(in ISO-8601 format)* when the Currency was created.
            format: date-time
            x-stainless-skip:
            - terraform
          dtLastModified:
            type: string
            description: The date and time *(in ISO-8601 format)* when the Currency was last modified.
            format: date-time
            x-stainless-skip:
            - terraform
          createdBy:
            type: string
            description: The unique identifier (UUID) of the user who created this Currency.
            x-stainless-skip:
            - terraform
          lastModifiedBy:
            type: string
            description: The unique identifier (UUID) of the user who last modified this Currency.
            x-stainless-skip:
            - terraform
    RoundingMode:
      type: string
      description: ''
      enum:
      - UP
      - DOWN
      - CEILING
      - FLOOR
      - HALF_UP
      - HALF_DOWN
      - HALF_EVEN
      - UNNECESSARY
    AbstractPickListRequest:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractRequest'
      - required:
        - name
        properties:
          code:
            maxLength: 80
            pattern: ^[\p{L}_$][\p{L}_$0-9]*$
            type: string
            description: The short code for the entity.
            example: code
          name:
            maxLength: 200
            minLength: 1
            type: string
            description: The name of the entity.
          archived:
            type: boolean
            description: 'A Boolean TRUE / FALSE flag indicating whether the entity is archived. An entity can be archived if it is obsolete.


              * TRUE - the entity is in the archived state.

              * FALSE - the entity is not in the archived state.'
    AbstractPickListResponse:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractResponse'
      - properties:
          code:
            type: string
            description: The short code of the data entity.
          name:
            type: string
            description: The name of the data entity.
          archived:
            type: boolean
            description: TRUE / FALSE flag indicating whether the data entity is archived. An entity can be archived if it is obsolete.
    AbstractResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: 'The UUID of the entity. '
        version:
          type: integer
          description: 'The version number:

            - **Create:** On initial Create to insert a new entity, the version is set at 1 in the response.

            - **Update:** On successful Update, the version is incremented by 1 in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    PaginatedCurrencyResponseData:
      type: object
      properties:
        data:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/CurrencyResponse'
        nextToken:
          type: string
          description: ''
      description: ''
  responses:
    Error:
      description: Error message
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "m3ter supports machine to machine authentication using the `clientCredentials` OAuth2 flow.\n\nThe `authorizationCode` flow controls access for human users via the m3ter Console application. \n"
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
        authorizationCode:
          authorizationUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/authorize
          tokenUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            openid: OpenID
            email: email
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
