openapi: 3.2.0
info:
  title: m3ter Charge API
  description: 'If you are using Postman, you can:

    - Use the **Download** button above to download the m3ter Open API spec JSON file and then import this file as the **m3ter API Collection** into your Workspace.'
  version: '1.0'
  x-logo:
    url: https://console.m3ter.com/m3ter-logo-black.svg
servers:
- url: https://api.m3ter.com
security:
- OAuth2: []
tags:
- name: Charge
  description: Endpoints for creating/updating/deleting Charges.
paths:
  /organizations/{orgId}/charges:
    get:
      tags:
      - Charge
      summary: List Charges
      description: Retrieve a list of Charge entities
      operationId: ListCharges
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: pageSize
        in: query
        description: Number of Charges to retrieve per page
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 200
          minimum: 1
          type: integer
          format: int32
      - name: nextToken
        in: query
        description: nextToken for multi page retrievals
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: accountId
        in: query
        description: List Charge items for the Account UUID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: entityType
        in: query
        description: List Charge items for the EntityType
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ChargeEntityType'
      - name: entityId
        in: query
        description: List Charge items for the Entity UUID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: billDate
        in: query
        description: List Charge items for the Bill Date
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: ids
        in: query
        description: List of Charge UUIDs to retrieve
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: scheduleId
        in: query
        description: List Charge items for the Schedule UUID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: ListCharges 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedChargeResponseData'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    post:
      tags:
      - Charge
      summary: Create Charge
      description: 'Create a new Charge.


        **NOTES:**

        * To create an ad-hoc Charge on an Account, use the `accountId` request parameter.

        * To create a balance fee Charge for a Balance, use the `entityId` request parameter to specify which Balance on an Account the Charge is for.

        * To define the value of the Charge amount that is billed, you can simply specify an `amount` or use a number of `units` together with a `unitPrice` for a calculated value = units x unit price. But you cannot specify *both an amount and units/unit price*.'
      operationId: CreateCharge
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeRequest'
        required: true
      responses:
        '200':
          description: Returns the created Charge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/charges/{id}:
    get:
      tags:
      - Charge
      summary: Retrieve Charge
      description: Retrieve a Charge for the given UUID.
      operationId: GetCharge
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the Charge to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Return the Charge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    put:
      tags:
      - Charge
      summary: Update Charge
      description: 'Update a Charge for the given UUID.


        **NOTE:** When you update a Charge on an Account, you can provide either a Charge `amount` or Charge `units` together with a `unitPrice`, but *not both*.'
      operationId: UpdateCharge
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the Charge to update.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeRequest'
        required: true
      responses:
        '200':
          description: Returns the updated Charge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    delete:
      tags:
      - Charge
      summary: Delete Charge
      description: Delete the Charge for the given UUID.
      operationId: DeleteCharge
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the Charge to update.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Return the deleted Charge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
components:
  schemas:
    AbstractRequest:
      type: object
      properties:
        version:
          type: integer
          description: 'The version number of the entity:

            - **Create entity:** Not valid for initial insertion of new entity - *do not use for Create*. On initial Create, version is set at 1 and listed in the response.

            - **Update Entity:**  On Update, version is required and must match the existing version because a check is performed to ensure sequential versioning is preserved. Version is incremented by 1 and listed in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    ChargeResponse:
      type: object
      properties:
        name:
          type: string
          description: Name of the Charge. Added to the Bill line item description for Charge.
        code:
          type: string
          description: The unique short code of the Charge.
        accountId:
          type: string
          description: The ID of the Account the Charge was created for.
        billDate:
          type: string
          description: The date when the Charge will be added to a Bill.
          format: date
        amount:
          type: number
          description: The Charge amount. If `amount` has been defined, then `units` and `unitPrice` cannot be used.
        units:
          type: number
          description: Number of units of the Charge. Provided together with `unitPrice`. If `units` and `unitPrice` are provided, `amount` cannot be used.
        unitPrice:
          type: number
          description: 'Unit Price for the Charge. Provided together with `units`:

            * Null if the Charge was created with `amount` only.

            * If `units` and `unitPrice` are provided, `amount` cannot be used.'
        currency:
          type: string
          description: Charge currency.
        description:
          type: string
          description: The description added to the Bill line item for the Charge.
        entityType:
          description: The entity type the Charge has been created for.
          $ref: '#/components/schemas/ChargeEntityType'
        entityId:
          type: string
          description: The ID of the Charge linked entity. For example, the ID of an Account Balance if a Balance Charge.
        billId:
          type: string
          description: The ID of the Bill created for this Charge.
        accountingProductId:
          type: string
          description: The Accounting Product ID assigned to the Charge.
        servicePeriodStartDate:
          type: string
          description: The service period start date (*in ISO-8601 format*) for the Charge .
          format: date-time
        servicePeriodEndDate:
          type: string
          description: 'The service period end date (*in ISO-8601 format*) for the Charge.


            **NOTE:** End date is exclusive.'
          format: date-time
        notes:
          type: string
          description: Information about the Charge for accounting purposes, such as the reason it was created. This information will not be added to the created Bill line item for the Charge.
        contractId:
          type: string
          description: The ID of a Contract on the Account that the Charge has been added to.
        lineItemType:
          description: The line item type used for billing a Charge.
          $ref: '#/components/schemas/ChargeLineItemType'
        dtCreated:
          type: string
          description: The date and time (*in ISO-8601 format*) when the Charge was created.
          format: date-time
          x-stainless-skip:
          - terraform
        dtLastModified:
          type: string
          description: The date and time (*in ISO 8601 format*) when the Charge was last modified.
          format: date-time
          x-stainless-skip:
          - terraform
        createdBy:
          type: string
          description: The unique identifier (UUID) of the user who created the Charge.
          x-stainless-skip:
          - terraform
        lastModifiedBy:
          type: string
          description: The unique identifier (UUID) of the user who last modified the Charge.
          x-stainless-skip:
          - terraform
        scheduleId:
          type: string
          description: The ID of the Balance Charge Schedule that created the Charge.
      description: Response containing a Charge entity
      allOf:
      - $ref: '#/components/schemas/AbstractResponse'
    ChargeRequest:
      type: object
      description: Request containing a Charge entity
      allOf:
      - $ref: '#/components/schemas/AbstractRequest'
      - required:
        - accountId
        - code
        - currency
        - entityType
        - lineItemType
        - name
        - servicePeriodEndDate
        - servicePeriodStartDate
        properties:
          name:
            maxLength: 200
            minLength: 1
            type: string
            description: Name of the Charge. Added to the Bill line item description for this Charge.
          code:
            maxLength: 80
            minLength: 1
            pattern: ^([^[\p{Cntrl}\s]])|([^[\p{Cntrl}\s]][[^[\p{Cntrl}\s]] ]*[^[\p{Cntrl}\s]])$
            type: string
            description: Unique short code for the Charge.
          accountId:
            maxLength: 36
            minLength: 36
            type: string
            description: The ID of the Account the Charge is being created for.
          billDate:
            type: string
            description: The date when the Charge will be added to a Bill.
            example: '2022-01-04'
          amount:
            type: number
            description: Amount of the Charge. If `amount` is provided, then `units` and `unitPrice` must be omitted.
          units:
            type: number
            description: Number of units of the Charge. If `amount` is omitted, then provide together with `unitPrice`. When `amount` is provided, `units` must be omitted.
          unitPrice:
            type: number
            description: Unit price. If `amount` is omitted, then provide together with `units`. When `amount` is provided, `unitPrice` must be omitted.
          currency:
            minLength: 1
            type: string
            description: Charge currency.
          description:
            type: string
            description: The description added to the Bill line item for the Charge.
          entityType:
            description: 'The entity type the Charge is created for.


              **NOTE:** If `entityType` is `BALANCE`, you must provide the `entityId` of the Balance the Charge is for.'
            allOf:
            - $ref: '#/components/schemas/ChargeEntityType'
            - description: 'The entity this charge is created for, ex: Balance or AD_HOC if none applies'
          lineItemType:
            description: The line item type used for Charge billing.
            allOf:
            - $ref: '#/components/schemas/ChargeLineItemType'
            - description: The Line Item Type to be used for this Charge
          entityId:
            type: string
            description: 'The ID of the Charge linked entity. For example, the ID of an Account Balance if a Balance Charge.


              **NOTE:** If `entityType` is `BALANCE`, you must provide the `entityId` of the Balance the Charge is for.'
          accountingProductId:
            maxLength: 36
            minLength: 36
            type: string
            description: The Accounting Product ID assigned to the Charge.
          servicePeriodStartDate:
            type: string
            description: The service period start date (*in ISO-8601 format*) for the Charge.
            format: date-time
          servicePeriodEndDate:
            type: string
            description: 'The service period end date (*in ISO-8601 format*)for the Charge.


              **NOTE:** End date is exclusive.'
            format: date-time
          notes:
            type: string
            description: Used to enter information about the Charge for accounting purposes, such as the reason it was created. This information will not be added to a Bill line item for the Charge.
          contractId:
            type: string
            description: The ID of a Contract on the Account that the Charge will be added to.
        description: Request containing a Charge entity
    ChargeEntityType:
      type: string
      description: The entity type the Charge has been created for.
      enum:
      - AD_HOC
      - BALANCE
    PaginatedChargeResponseData:
      type: object
      properties:
        data:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/ChargeResponse'
        nextToken:
          type: string
          description: ''
      description: ''
    AbstractResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: 'The UUID of the entity. '
        version:
          type: integer
          description: 'The version number:

            - **Create:** On initial Create to insert a new entity, the version is set at 1 in the response.

            - **Update:** On successful Update, the version is incremented by 1 in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    ChargeLineItemType:
      type: string
      description: Available line item types that can be used for billing a Charge.
      enum:
      - BALANCE_FEE
      - AD_HOC
  responses:
    Error:
      description: Error message
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "m3ter supports machine to machine authentication using the `clientCredentials` OAuth2 flow.\n\nThe `authorizationCode` flow controls access for human users via the m3ter Console application. \n"
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
        authorizationCode:
          authorizationUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/authorize
          tokenUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            openid: OpenID
            email: email
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
