openapi: 3.2.0
info:
  title: m3ter Scheduled Event Configurations API
  description: 'If you are using Postman, you can:

    - Use the **Download** button above to download the m3ter Open API spec JSON file and then import this file as the **m3ter API Collection** into your Workspace.'
  version: '1.0'
  x-logo:
    url: https://console.m3ter.com/m3ter-logo-black.svg
servers:
- url: https://api.m3ter.com
security:
- OAuth2: []
tags:
- name: ScheduledEventConfigurations
  description: 'Endpoints for retrieving and managing scheduled Events'' configurations.


    Scheduled Event Configurations define custom Event types that reference Date/Time fields belonging to configuration and billing entities. They therefore provide you with an extra degree of flexibility over and above system-generated Events for setting up Notifications based on Events.


    For more details, see the Working with Scheduled Events in our Documenation.'
paths:
  /organizations/{orgId}/scheduledevents/configurations/{id}:
    get:
      tags:
      - ScheduledEventConfigurations
      summary: Retrieve ScheduledEventConfiguration
      description: Retrieve a ScheduledEventConfiguration for the given UUID.
      operationId: GetScheduledEventConfiguration
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the ScheduledEventConfiguration to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Return the ScheduledEventConfiguration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledEventConfigurationResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    put:
      tags:
      - ScheduledEventConfigurations
      summary: Update ScheduledEventConfiguration
      description: Update a ScheduledEventConfiguration for the given UUID.
      operationId: UpdateScheduledEventConfiguration
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the ScheduledEventConfiguration to update.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledEventConfigurationRequest'
        required: true
      responses:
        '200':
          description: Return the updated ScheduledEventConfiguration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledEventConfigurationResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    delete:
      tags:
      - ScheduledEventConfigurations
      summary: Delete ScheduledEventConfiguration
      description: Delete the ScheduledEventConfiguration for the given UUID.
      operationId: DeleteScheduledEventConfiguration
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: id
        in: path
        description: The UUID of the ScheduledEventConfiguration to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Return the deleted ScheduledEventConfiguration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledEventConfigurationResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/scheduledevents/configurations:
    get:
      tags:
      - ScheduledEventConfigurations
      summary: List ScheduledEventConfigurations
      description: Retrieve a list of ScheduledEventConfiguration entities
      operationId: ListScheduledEventConfigurations
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: pageSize
        in: query
        description: Number of ScheduledEventConfigurations to retrieve per page
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: nextToken
        in: query
        description: nextToken for multi page retrievals
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: ids
        in: query
        description: list of UUIDs to retrieve
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ListScheduledEventConfigurations 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedScheduledEventConfigurationResponseData'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    post:
      tags:
      - ScheduledEventConfigurations
      summary: Create ScheduledEventConfiguration
      description: Create a new ScheduledEventConfiguration.
      operationId: CreateScheduledEventConfiguration
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledEventConfigurationRequest'
        required: true
      responses:
        '200':
          description: Return the created ScheduledEventConfiguration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledEventConfigurationResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
components:
  schemas:
    AbstractResponseWithAuditFields:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractResponse'
      - properties:
          dtCreated:
            type: string
            description: The DateTime when this item was created *(in ISO-8601 format)*.
            format: date-time
            x-stainless-skip:
            - terraform
          dtLastModified:
            type: string
            description: The DateTime when this item was last modified *(in ISO-8601 format)*.
            format: date-time
            x-stainless-skip:
            - terraform
          createdBy:
            type: string
            description: The ID of the user who created this item.
            x-stainless-skip:
            - terraform
          lastModifiedBy:
            type: string
            description: The ID of the user who last modified this item.
            x-stainless-skip:
            - terraform
    AbstractRequest:
      type: object
      properties:
        version:
          type: integer
          description: 'The version number of the entity:

            - **Create entity:** Not valid for initial insertion of new entity - *do not use for Create*. On initial Create, version is set at 1 and listed in the response.

            - **Update Entity:**  On Update, version is required and must match the existing version because a check is performed to ensure sequential versioning is preserved. Version is incremented by 1 and listed in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    ScheduledEventConfigurationResponse:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractResponseWithAuditFields'
      - $ref: '#/components/schemas/AbstractResponse'
      - required:
        - entity
        - field
        - name
        - offset
        properties:
          name:
            minLength: 1
            type: string
            description: The name of the custom Scheduled Event Configuration.
            example: 10 days after bill due date
          entity:
            minLength: 1
            type: string
            description: The referenced configuration or billing entity for which the desired scheduled Event will trigger.
            example: Bill
          field:
            minLength: 1
            type: string
            description: A DateTime field for which the desired scheduled Event will trigger - this must be a DateTime field on the referenced billing or configuration entity.
            example: dueDate
          offset:
            type: integer
            description: The offset in days from the specified DateTime field on the referenced entity when the scheduled Event will trigger.
            format: int32
            example: 10
        description: Response containing a ScheduledEventConfiguration entity
    AbstractResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: 'The UUID of the entity. '
        version:
          type: integer
          description: 'The version number:

            - **Create:** On initial Create to insert a new entity, the version is set at 1 in the response.

            - **Update:** On successful Update, the version is incremented by 1 in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    ScheduledEventConfigurationRequest:
      required:
      - entity
      - field
      - name
      - offset
      type: object
      properties:
        name:
          minLength: 1
          type: string
          description: "The name of the custom Scheduled Event Configuration.\n\nThis must be in the format: \n* scheduled.*name of entity*.*custom event name*\n\nFor example:\n* `scheduled.bill.endDateEvent`"
          example: 10 Days After Bill Due Date
        entity:
          minLength: 1
          type: string
          description: The referenced configuration or billing entity for which the desired scheduled Event will trigger.
          example: Bill
        field:
          minLength: 1
          type: string
          description: A DateTime field for which the desired scheduled Event will trigger - this must be a DateTime field on the referenced billing or configuration entity.
          example: dueDate
        offset:
          type: integer
          description: The offset in days from the specified DateTime field on the referenced entity when the scheduled Event will trigger.
          format: int32
          example: 10
      description: Request containing a ScheduledEventConfiguration entity
      example:
        name: scheduled.bill.enddateEvent
        entity: Bill
        field: endDate
        offset: 5
      allOf:
      - $ref: '#/components/schemas/AbstractRequest'
    PaginatedScheduledEventConfigurationResponseData:
      type: object
      properties:
        data:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/ScheduledEventConfigurationResponse'
        nextToken:
          type: string
          description: ''
      description: ''
  responses:
    Error:
      description: Error message
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "m3ter supports machine to machine authentication using the `clientCredentials` OAuth2 flow.\n\nThe `authorizationCode` flow controls access for human users via the m3ter Console application. \n"
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
        authorizationCode:
          authorizationUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/authorize
          tokenUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            openid: OpenID
            email: email
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
