openapi: 3.2.0
info:
  title: m3ter Balance Transaction Schedule API
  description: 'If you are using Postman, you can:

    - Use the **Download** button above to download the m3ter Open API spec JSON file and then import this file as the **m3ter API Collection** into your Workspace.'
  version: '1.0'
  x-logo:
    url: https://console.m3ter.com/m3ter-logo-black.svg
servers:
- url: https://api.m3ter.com
security:
- OAuth2: []
tags:
- name: BalanceTransactionSchedule
  description: 'Endpoints for creating/updating/deleting BalanceTransactionSchedules.


    **NOTE!** The BalanceTransactionSchedule feature is available in Beta release version. See Feature Release Stages for Beta release definition.'
paths:
  /organizations/{orgId}/balances/{balanceId}/balancetransactionschedules:
    get:
      tags:
      - BalanceTransactionSchedule
      summary: List BalanceTransactionSchedule
      description: Retrieve a list of BalanceTransactionSchedule entities.
      operationId: ListBalanceTransactionSchedule
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: balanceId
        in: path
        description: UUID of the balance
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: Number of BalanceTransactionSchedules to retrieve per page
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 200
          minimum: 1
          type: integer
          format: int32
      - name: nextToken
        in: query
        description: nextToken for multi page retrievals
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      - name: ids
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ListBalanceTransactionSchedule 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBalanceTransactionScheduleResponseData'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    post:
      tags:
      - BalanceTransactionSchedule
      summary: Create BalanceTransactionSchedule
      description: Create a new BalanceTransactionSchedule.
      operationId: CreateBalanceTransactionSchedule
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: balanceId
        in: path
        description: UUID of the balance
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceTransactionScheduleRequest'
        required: true
      responses:
        '200':
          description: Return the created BalanceTransactionSchedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionScheduleResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/balances/{balanceId}/balancetransactionschedules/{id}:
    get:
      tags:
      - BalanceTransactionSchedule
      summary: Retrieve BalanceTransactionSchedule
      description: Retrieve a BalanceTransactionSchedule for the given UUID.
      operationId: GetBalanceTransactionSchedule
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: balanceId
        in: path
        description: UUID of the balance
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The UUID of the BalanceTransactionSchedule to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Return the BalanceTransactionSchedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionScheduleResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    put:
      tags:
      - BalanceTransactionSchedule
      summary: Update BalanceTransactionSchedule
      description: Update a BalanceTransactionSchedule for the given UUID.
      operationId: UpdateBalanceTransactionSchedule
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: balanceId
        in: path
        description: UUID of the balance
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The UUID of the BalanceTransactionSchedule to update.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceTransactionScheduleRequest'
        required: true
      responses:
        '200':
          description: Return the updated BalanceTransactionSchedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionScheduleResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
    delete:
      tags:
      - BalanceTransactionSchedule
      summary: Delete BalanceTransactionSchedule
      description: Delete the BalanceTransactionSchedule for the given UUID.
      operationId: DeleteBalanceTransactionSchedule
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: balanceId
        in: path
        description: UUID of the balance
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The UUID of the BalanceTransactionSchedule to update.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Return the deleted BalanceTransactionSchedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionScheduleResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
  /organizations/{orgId}/balances/{balanceId}/balancetransactionschedules/preview:
    post:
      tags:
      - BalanceTransactionSchedule
      summary: Preview ScheduledBalanceTransactions
      description: Previews the BalanceTransactions this Schedule would create, without persisting them. You can use this call to obtain a preview of the Transactions a Schedule you plan to create for a Balance would generate.
      operationId: PreviewBalanceTransactionSchedule
      parameters:
      - name: orgId
        in: path
        description: UUID of the organization
        required: true
        style: simple
        explode: false
        schema:
          type: string
          deprecated: true
          x-stainless-deprecation-message: the org id should be set at the client level instead
      - name: balanceId
        in: path
        description: UUID of the balance
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: Number of BalanceTransactions to retrieve per page
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 200
          minimum: 1
          type: integer
          format: int32
      - name: nextToken
        in: query
        description: nextToken for multi page retrievals
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceTransactionScheduleRequest'
        required: true
      responses:
        '200':
          description: Return the list of BalanceTransactions this request would create
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionScheduleResponse'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
components:
  schemas:
    AbstractRequest:
      type: object
      properties:
        version:
          type: integer
          description: 'The version number of the entity:

            - **Create entity:** Not valid for initial insertion of new entity - *do not use for Create*. On initial Create, version is set at 1 and listed in the response.

            - **Update Entity:**  On Update, version is required and must match the existing version because a check is performed to ensure sequential versioning is preserved. Version is incremented by 1 and listed in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    BalanceTransactionScheduleResponse:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractResponseWithCustomFields'
      - $ref: '#/components/schemas/AbstractResponse'
      - properties:
          balanceId:
            type: string
            description: The unique identifier (UUID) for the Balance this Balance Transaction Schedule was created for.
          name:
            type: string
            description: The name of the Balance Transaction Schedule.
          code:
            type: string
            description: Unique short code of the Balance Transaction Schedule.
          amount:
            type: number
            description: The amount of each Balance Transaction created by this Schedule.
          transactionDescription:
            type: string
            description: The description of each Balance Transaction created by this Schedule.
          paid:
            type: number
            description: 'The payment amount if the payment currency differs from the Balance currency. '
          currencyPaid:
            type: string
            description: 'The currency code of the payment if it differs from the Balance currency. For example: USD, GBP or EUR. '
          transactionTypeId:
            type: string
            description: The unique identifier (UUID) of the transaction type used for Transactions created by this Schedule.
          startDate:
            type: string
            description: The start date (*in ISO-8601 format*) of the Balance Transaction Schedule.
            format: date-time
          endDate:
            type: string
            description: The end date (*in ISO-8601 format*) of the Balance Transaction Schedule.
            format: date-time
          frequency:
            description: Specifies a daily, weekly, monthly, or yearly interval for when Transactions are generated for the Balance throughout the defined Transaction Schedule time period.
            allOf:
            - $ref: '#/components/schemas/ScheduleFrequency'
            - description: Together with frequencyInterval, defines how often BalanceTransactions are generated.
          frequencyInterval:
            type: integer
            description: Used in conjunction with `frequency` to define how often Balance Transactions are generated. For example, if `frequency` is MONTHLY and `frequencyInterval` is 3, Balance Transactions are generated every three months.
            format: int32
          dtCreated:
            type: string
            description: The date and time (*in ISO-8601 format*) when the Balance Transaction Schedule was created.
            format: date-time
            x-stainless-skip:
            - terraform
          dtLastModified:
            type: string
            description: The date and time (*in ISO-8601 format*) when the Balance Transaction Schedule was last modified.
            format: date-time
            x-stainless-skip:
            - terraform
          createdBy:
            type: string
            description: The unique identifier (UUID) of the user who created this Balance Transaction Schedule.
            x-stainless-skip:
            - terraform
          lastModifiedBy:
            type: string
            description: The unique identifier (UUID) of the user who last modified this Balance Transaction Schedule.
            x-stainless-skip:
            - terraform
          nextRun:
            type: string
            description: The date and time (*in ISO-8601 format*) when the next Transaction will be generated by the Balance Transaction Schedule.
            format: date-time
          previousRun:
            type: string
            description: The date and time (*in ISO-8601 format*) when the previous Transaction was generated by the Balance Transaction Schedule.
            format: date-time
    ScheduleFrequency:
      type: string
      description: Represents standard scheduling frequencies options for a job.
      enum:
      - DAILY
      - WEEKLY
      - MONTHLY
      - ANNUALLY
    BalanceTransactionScheduleRequest:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractRequestWithCustomFields'
      - $ref: '#/components/schemas/AbstractRequest'
      - required:
        - amount
        - code
        - endDate
        - frequency
        - frequencyInterval
        - name
        - startDate
        - transactionDescription
        - transactionTypeId
        properties:
          name:
            maxLength: 200
            minLength: 1
            type: string
            description: The name of the Balance Transaction Schedule.
          code:
            maxLength: 80
            minLength: 1
            pattern: ^([^[\p{Cntrl}\s]])|([^[\p{Cntrl}\s]][[^[\p{Cntrl}\s]] ]*[^[\p{Cntrl}\s]])$
            type: string
            description: The unique short code of the Balance Transaction Schedule.
          amount:
            minimum: 0
            type: number
            description: The amount of each Balance Transaction created by this Schedule.
          transactionDescription:
            minLength: 1
            type: string
            description: The description of each Balance Transaction that will be created by this Schedule.
          paid:
            type: number
            description: 'The payment amount if the payment currency differs from the Balance currency. '
          currencyPaid:
            type: string
            description: 'The currency code of the payment if it differs from the Balance currency. For example: USD, GBP or EUR. '
          transactionTypeId:
            maxLength: 36
            minLength: 1
            pattern: ^[a-zA-Z0-9-]*$
            type: string
            description: The unique identifier (UUID) of the transaction type used to create Transactions by this Schedule. You can obtain a list of Transaction Types created for the Organization. See the the [List TransactionTypes](https://www.m3ter.com/docs/api#tag/TransactionType/operation/ListTransactionTypes) endpoint of this API Reference.
          startDate:
            type: string
            description: The start date (*in ISO-8601 format*) of the Balance Transaction Schedule.
            format: date-time
          endDate:
            type: string
            description: 'The end date (*in ISO-8601 format*) of the Balance Transaction Schedule.


              **NOTE:** End date is exclusive.'
            format: date-time
          frequency:
            description: Specify a daily, weekly, monthly, or yearly interval for when Transactions are generated for the Balance throughout the defined Transaction Schedule time period.
            allOf:
            - $ref: '#/components/schemas/ScheduleFrequency'
            - description: Together with frequencyInterval, defines how often BalanceTransactions are generated.
          frequencyInterval:
            maximum: 365
            minimum: 1
            type: integer
            description: Used in conjunction with `frequency` to define how often Balance Transactions are generated by the Schedule. For example, if `frequency` is MONTHLY and `frequencyInterval` is 3, then Balance Transactions are generated every three months.
            format: int32
    AbstractRequestWithCustomFields:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractRequest'
      - properties:
          customFields:
            type: object
            description: 'User defined fields enabling you to attach custom data. The value for a custom field can be either a string or a number.


              If `customFields` can also be defined for this entity at the Organizational level, `customField` values defined at individual level override values of `customFields` with the same name defined at Organization level.


              See [Working with Custom Fields](https://www.m3ter.com/docs/guides/creating-and-managing-products/working-with-custom-fields) in the m3ter documentation for more information.'
            maxItems: 100
            additionalProperties:
              anyOf:
              - title: StringCustomFieldReq
                type: string
              - title: IntegerCustomFieldReq
                type: integer
              - title: NumberCustomFieldReq
                type: number
    PaginatedBalanceTransactionScheduleResponseData:
      type: object
      properties:
        data:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/BalanceTransactionScheduleResponse'
        nextToken:
          type: string
          description: ''
      description: ''
    AbstractResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: 'The UUID of the entity. '
        version:
          type: integer
          description: 'The version number:

            - **Create:** On initial Create to insert a new entity, the version is set at 1 in the response.

            - **Update:** On successful Update, the version is incremented by 1 in the response.'
          format: int64
          x-stainless-terraform-configurability: computed
          x-stainless-terraform-always-send: true
      description: ''
    AbstractResponseWithCustomFields:
      type: object
      description: ''
      allOf:
      - $ref: '#/components/schemas/AbstractResponse'
      - properties:
          customFields:
            type: object
            description: 'User defined fields enabling you to attach custom data. The value for a custom field can be either a string or a number.


              If `customFields` can also be defined for this entity at the Organizational level,`customField` values defined at individual level override values of `customFields` with the same name defined at Organization level.


              See [Working with Custom Fields](https://www.m3ter.com/docs/guides/creating-and-managing-products/working-with-custom-fields) in the m3ter documentation for more information.'
            additionalProperties:
              anyOf:
              - title: StringCustomFieldRes
                type: string
              - title: IntegerCustomFieldRes
                type: integer
              - title: NumberCustomFieldRes
                type: number
  responses:
    Error:
      description: Error message
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "m3ter supports machine to machine authentication using the `clientCredentials` OAuth2 flow.\n\nThe `authorizationCode` flow controls access for human users via the m3ter Console application. \n"
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
        authorizationCode:
          authorizationUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/authorize
          tokenUrl: https://m3ter.auth.us-east-1.amazoncognito.com/oauth2/token
          scopes:
            m3ter-resources/m3ter-scope: m3ter resources
            openid: OpenID
            email: email
            measurements:upload: Upload measurements
            measurements:fileUpload: Upload file
            measurements:retrieve: Retrieve measurements
